<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>COURSES</h1>
        <div>
            <form class="" action="/courses" method="post">
                <label for='name'>Name: </label>
                <input type="text" name="name">
                <label for="">Description: </label>
                <input type="text" name="description">
                <button type="submit" name="submit">SUBMIT</button>
            </form>
            {% for courses in courses: %}
            <p>ID: {{ courses['id']}}</p>
            <p>Name: {{ courses['name'] }}</p>
            <p>Description: {{ courses['description'] }}</p>
            <p>Created Date: {{ courses['created_at']}}
            <form class="" action="/delete/{{courses['id']}}" method="post">
                <button type="submit" name="delete">Delete</button>
            </form>

            {% endfor %}

        </div>

    </body>
</html>
